---
const matches = import.meta.glob("../blog/posts/*.mdx", { eager: true });
const posts: any[] = Object.values(matches);
---

<div class="text-2xl">hello</div>
<ul>
  {
    posts.map((post) => (
      <li>
        <a href={`/blog/${post.data.slug}`}>{post.title}</a>
      </li>
    ))
  }
</ul>
